body {
  /* overflow: hidden; */
  /*ACTIVATE THIS ^^^ TO STOP SCROLLING*/
  /* font-family: 'Merriweather', serif; */
  font-family: 'Poppins', sans-serif;


  margin:0;
overflow: hidden;
}



@font-face {
  font-family: "Stravinsky TRIAL";
  src: url(./fonts/TRIAL-Stravinsky-Bold.otf);
}

h1 {
  font-family: "Stravinsky TRIAL";
}

p {
  font-size: 1em;
}

a{
  color: inherit;
  style: none;

}


img {
  width: 100%;
  height: auto;
}

figcaption{
  color: #D42F2F;
  font-size: 0.9em;
}

#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
    z-index: 1001;
}

#popup {
    width: 80vw;
    height: 50vh;
    background: #FFFFFF;
    border: 5px solid rgb(178, 119, 244);
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    top: 30vh; left: 5vh;
}




.topmenu {
  /* top: 2em; */
  left:0em;
  right: 0em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 10%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: normal;
  direction: ltr;
  display: inline-flex;
  font-family: "Stravinsky TRIAL";
    z-index: 2;
  }



.bottommenu {
bottom: 0;
  left: 0em;
  height: 5%;
  width: 100%;
  position: fixed;
  background-color:black;
  color: white;
  white-space: normal;
  direction: ltr;
  display: inline-flex;
  font-family: "Stravinsky TRIAL";
  z-index: 3;
  overflow: hidden;
}

.home {

  width: auto;
  height: auto;
    float: left;
    padding: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
}

.thesisbutton {
  right: 1em;
  width: auto;
  height: auto;
  float: center;
  padding: 0.3em;
  padding-left: 4em;
  padding-right: 3em;
  right:0em;
}

.creditsbutton {
  right: 1em;
  width: auto;
  height: auto;
    float: right;
      padding: 0.3em;
      padding-left: 2em;
      padding-right: 2em;
}

.dot {
  top: 0em;
  height: 7em;
  width: 7em;
  background-color: black;
  border-radius: 50%;
  margin: 0.4em;
  -webkit-flex: 0 0 auto;
  text-align: center;
}

.dottext {
  font-size: 4em;
  padding: 0;
  margin: 0;
color: white;
  text-align: center;
  -ms-transform: translateY(15%);
  transform: translateY(15%);
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D42F2F;
  border-radius: 5px;
}

#landing {
  height: 100vh;
  width: auto;
  left: 0;
  right:0;
  top:0;
  bottom: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  /* position: fixed; */
background-color: black;
color: #D42F2F;
  /* z-index: 3; */
  padding: 2em;
  word-wrap: break-word;
}

.wrapper {
  padding: 0;
  left:0;
  width: 100%;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
color: black;
  background-color: white;
}

#thesis {
  height: auto;
  width: 90%;
    left: 0;
    /* right:0; */
    top:1em;
    padding-left: 1em;

    padding-bottom: 10vh;
/* position: absolute; */

  word-wrap: break-word;

}

#credits {
  height: 100vh;
  width: 100vw;
/* position: fixed; */
left: 0;
right:0;
top:0;
padding-top: 10%;
padding-bottom: 10%;
left: 0;
top:0;
padding: 3em;
color: white;
  background-color: black;

}

.sup{
  font-family: 'Stravinsky TRIAL';
  color:#D42F2F;
}

.popuptext {
  width: 10vw;
     word-wrap: break-word;
  z-index: 9;
  margin-left: 30%;
  /* margin-right: 20%; */
}

.close {
  color: #D42F2F;
  float: right;
  font-size: 28px;
  position: absolute;
  top: 0.5vh;
  left: 90%;
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.sup .popuptext {
     word-wrap: break-word;
  font-family: 'Poppins';
  visibility: hidden;
  background-color: black;
  color:white;
  text-align: left;
  width: 15em;
  padding: 1em;
  height: auto;
  display: block;
  position: absolute;

}

/* Popup arrow */
.sup .popuptext::after {
  content: "";
  /* margin-left: auto;
  margin-right: auto; */
  width: 10em;
  height: auto;
  display: flex;
}

/* Toggle this class - hide and show the popup */
.sup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px, min-width: 700px;) {
  body {

  }

  .wrapper {
    padding: 0;
    left:0;
    width: 60%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
  color: black;
    background-color: white;
  }




  ::-webkit-scrollbar {
    display: none;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {

  }
  img {
    width: 100%;
    height: auto;
  }

  .dot {
    top: 0em;
    height: 5em;
    width: 5em;

    border-radius: 50%;
    margin: 0.2em;
  }

  .dottext {
    font-size: 3em;

    padding: 0;
    margin: 0;
    text-align: center;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  p {
    font-size: 1.1em;
  }
}
