body {
  /* overflow: hidden; */
  /*ACTIVATE THIS ^^^ TO STOP SCROLLING*/
  /* font-family: 'Merriweather', serif; */
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: pink;
}

@font-face {
  font-family: "Stravinsky TRIAL";
  src: url(./fonts/TRIAL-Stravinsky-Bold.otf);
}

h1 {
  font-family: "Stravinsky TRIAL";
}

p {
  /* font-size: 12px; */
}

.topmenu {
  top: 0em;
  height: 10%;
  width: 100%;
  position: sticky;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: normal;
  direction: ltr;
  display: inline-flex;
  font-family: "Stravinsky TRIAL";
    z-index: 1;
}

.bottommenu {
  bottom: 0em;
  left: 0em;
  height: 5%;
  width: 100%;
  position: fixed;
  background-color: rgb(101, 189, 214);
  white-space: normal;
  direction: ltr;
  display: inline-flex;
  font-family: "Stravinsky TRIAL";
  z-index: 2;
}

.home {

  width: auto;
  height: auto;
    float: left;
    padding: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
}

.thesisbutton {
  right: 1em;
  width: auto;
  height: auto;
  float: center;
  padding: 0.3em;
  padding-left: 4em;
  padding-right: 3em;
  right:0em;
}

.creditsbutton {
  right: 1em;
  width: auto;
  height: auto;
    float: right;
      padding: 0.3em;
      padding-left: 2em;
      padding-right: 2em;
}

.dot {
  top: 0em;
  height: 7em;
  width: 7em;
  background-color: black;
  border-radius: 50%;
  margin: 0.4em;
  -webkit-flex: 0 0 auto;
  text-align: center;
}

.dottext {
  font-size: 4em;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  -ms-transform: translateY(15%);
  transform: translateY(15%);
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: yellow;
  border-radius: 2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 5px;
}

#landing {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
}

#thesis {
  height: 100%;
  width: 100%;
position: absolute;
  background-color: white;
margin-bottom: 30%;

}

#credits {
  height: 100%;
  width: 100%;
position: absolute;
  background-color: white;

}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: tan;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }

  .dot {
    top: 0em;
    height: 5em;
    width: 5em;
    background-color: black;
    border-radius: 50%;
    margin: 0.2em;
  }

  .dottext {
    font-size: 3em;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  p {
    font-size: 20px;
  }
}
